body {
  /* background: #035397; */
  margin: 0;
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #021b79,
    #0575e6
  ); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  min-height: 100vh;
}

.login {
  width: 100%;
  height: 572px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #fff; */
}

.login-container {
  width: 30%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.login-container-title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin: 20px;
}

.login-container-input {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.input-login {
  width: 100%;
  height: 30px;
  background: #232323;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid #232323;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

.input-login:focus {
  outline: 3px ridge aqua;
  color: aqua;
  font-weight: 700;
}

.input-password {
  width: 100%;
  height: 30px;
  background: #232323;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid #232323;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

.input-password:focus {
  outline: 3px ridge aqua;
  color: aqua;
  font-weight: 700;
}

.login-container-button {
  width: 70%;
  height: 40px;
  margin: 20px;
}

.login-button {
  width: 100%;
  height: 40px;
  background: #232323;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #232323;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.login-button:hover {
  transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0)
    scaleX(1.05) scaleY(1.05);
  transition-duration: 0.5s;
}
