body {
  /* background: #035397; */
  margin: 0;
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #021b79,
    #0575e6
  ); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  min-height: 100vh;
  box-sizing: border-box;
}

/* LOGIN  */
.login {
  width: 100%;
  height: 572px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #fff; */
}

.login-container {
  width: 30%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.login-container-title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin: 20px;
}

.login-container-input {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.input-login {
  width: 100%;
  height: 30px;
  background: #232323;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid #232323;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

.input-login:focus {
  outline: 3px ridge aqua;
  color: aqua;
  font-weight: 700;
}

.input-password {
  width: 100%;
  height: 30px;
  background: #232323;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid #232323;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

.input-password:focus {
  outline: 3px ridge aqua;
  color: aqua;
  font-weight: 700;
}

.login-container-button {
  width: 70%;
  height: 40px;
  margin: 20px;
}

.login-button {
  width: 100%;
  height: 40px;
  background: #232323;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #232323;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.login-button:hover {
  transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0)
    scaleX(1.05) scaleY(1.05);
  transition-duration: 0.5s;
}

/* FIN LOGIN */

/* NAV */
.nav {
  width: 100%;
  height: 60px;
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-login {
  width: 100%;
  height: 60px;
  background: #000;
}

.nav-login-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #000;
}

.nav-login-container a button {
  height: 30px;
  background: #fff;
  margin: 20px;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #232323;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 700;
  color: #232323;
  cursor: pointer;
}
.nav-login-container a button:hover {
  transform: translateY(-5px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
/* HOME */

.page {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.houses {
  display: grid;
  gap: 50px;
  padding: 10%;
  grid-template-columns: repeat(3, 1fr);
}

.house {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: #fff; */
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}

.house:hover {
  transform: translateY(-5px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  height: 270px;
}

.house-img {
  width: 100%;
}

.house-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.house-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background: #232323;
}

.house-info p {
  font-weight: 700;
  padding: 2px;
}

/* Add house */

.addHouse {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addHouse-container {
  width: 90%;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.addHouse-container-title {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  margin: 5px;
}

.addHouse-container-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  /* background: #fff; */
}

.input {
  width: 100%;
  height: 30px;
  background: #232323;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #232323;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  margin: 5px;
}

.input:focus {
  outline: 3px ridge aqua;
  color: aqua;
  font-weight: 700;
}

.addHouse-container-button {
  width: 70%;
  height: 40px;
  margin: 20px;
}

.addHouse-button {
  width: 100%;
  height: 40px;
  background: #232323;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #232323;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.addHouse-button:hover {
  transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0)
    scaleX(1.05) scaleY(1.05);
  transition-duration: 0.5s;
}

.addHouse-service {
  width: 95%;
}

.addHouse-service-radio {
  display: inline-block;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  background: #232323;
  border-radius: 5px;
  padding: 5px;
}

.addHouse-service-radio > span {
  font-weight: 700;
  color: #fff;
}

.addHouse-service-radio-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
}

.nav-search {
  width: 100%;
  height: 50px;
  background: #000;
}

.nav-search-container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1px;
  background: #000;
}

.nav-search-input {
  width: 50%;
  height: 30px;
  background: #232323;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #232323;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  margin: 5px;
}

.nav-search-input:focus {
  outline: 3px ridge aqua;
  color: aqua;
  font-weight: 700;
}

.nav-search-button {
  width: 50%;
  height: 40px;
  background: #232323;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #232323;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  margin-left: 50px;
}

.nav-search-button:hover {
  background: #fff;
  color: #232323;
  transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0)
    scaleX(1.05) scaleY(1.05);
  transition-duration: 0.5s;
}
